body {
    padding: 10px;
    margin: 0;
    font-size: 12px;
    font-family: Verdana;
}

.principal {
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.titre {

    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.menu {
    border: 1px solid red;
    padding: 15px;
    background-color: #F1B1CE;
}

.tab {
    border: 1px solid gray;
    padding: 4px;
}

th {
    background-color:#C9E8F7;
    border: 1px solid gray;
    padding: 5px;
}

td {
    border: 1px solid gray;
}

.noborder td {
    border: none;
}

.red {
    background-color: red;
}